# Arkham's Golang .gitignore
# https://narnacle.com

## secrets
.env*
!.env.example
!.env.default

## golang
*.test
*.sum

## cache
.trash
.DS_Store
*.bak

## output
out/
bin/
public/

## configs
.vscode
.idea
.vim

# Hugo
.hugo_build.lock
